My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f981d699-e125-448a-87d5-7cbf2f1c8c63",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "687cac2a-d8fd-424d-aafd-79572e0ef6b5",
      "name": "Webhook",
      "webhookId": "f981d699-e125-448a-87d5-7cbf2f1c8c63"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1269390790",
        "message": "=💳 New Transaction Detected\n\nBank: {{ $json.body.sender }}\nAmount: ₹{{ $json.body.amount }}\nType: {{ $json.body.type }}\nSMS: {{ $json.body.message }}\n\nReply in this exact format:\nCATEGORY | description\n\nExample: FD | lunch with friends\n\nCategories:\nGR-Groceries | RN-Rent | CK-Cook | MD-Maid\nPF-Purifier | WF-Wifi | RC-Recharge | TR-Trip\nRF-Refund | TP-Transport | PT-Petrol | FD-Food\nBV-Beverages | CC-Credit Card | IN-Investment\nRD-Random | SH-Shopping | KT-Kotak | GE-Gaadi\nEN-Entertainment | PD-Previous Dues | HC-Haircut | EL-Electricity",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "6a699497-e6cd-4bf6-9d08-6ba5d1c1faff",
      "name": "Send message and wait for response",
      "webhookId": "67164367-af9d-4e08-9155-12c1ca0a18a1",
      "credentials": {
        "telegramApi": {
          "id": "pxQnU5Rp54q4LLAG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GaHsXVlPV1mqX-1BcSGT2cTyEyE3G7qusiYNSmxhuyE",
          "mode": "list",
          "cachedResultName": "Finance tally",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GaHsXVlPV1mqX-1BcSGT2cTyEyE3G7qusiYNSmxhuyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 722839297,
          "mode": "list",
          "cachedResultName": "2026 Consolidated Jupiter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GaHsXVlPV1mqX-1BcSGT2cTyEyE3G7qusiYNSmxhuyE/edit#gid=722839297"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Webhook').item.json.body.message.match(/on (\\d{2}-\\d{2}-\\d{4})/)?.[1] }}",
            "Amount": "={{ $('Webhook').item.json.body.type === 'credit' ? '-' + $('Webhook').item.json.body.amount : $('Webhook').item.json.body.amount }}",
            "Expense and receivable name": "={{ {FD:'Food',GR:'Groceries',RN:'Rent',CK:'Cook',MD:'Maid',PF:'Purifier',WF:'Wifi',RC:'Recharge',TR:'Trip',RF:'Refund',TP:'Transport',PT:'Petrol',BV:'Beverages',CC:'Credit Card',IN:'Investment',RD:'Random',SH:'Shopping',KT:'Kotak',GE:'Gaadi',EN:'Entertainment',PD:'Previous Dues',HC:'Haircut',EL:'Electricity'}[$json.data.text.split('|')[0].trim().toUpperCase()] || $json.data.text.split('|')[0].trim() }}",
            "Description of the expense": "={{ $json.data.text.split('|')[1].trim() }}",
            "Bank": "={{ $('Webhook').item.json.sender }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Expense and receivable name",
              "displayName": "Expense and receivable name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description of the expense",
              "displayName": "Description of the expense",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bank",
              "displayName": "Bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "956e1950-e6d1-4a8d-8adc-b2849322eb49",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tGnIn0brUqOQFjvL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c2ceb25b-a2a6-4462-a150-9e5cf680767f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9d302b90e882e7017f9ae09c40a7665730802fe840f542a79e551f003f19edc"
  },
  "id": "2WNipyht6h3ynW2g",
  "tags": []
}